body{
    margin: 0;
    width: 100%;
}
nav{
    width: 100%;
    box-shadow: 0 1px 5px rgba(224, 209, 76, 0.712);
    display: flex;
    justify-content: center;
}

nav img{
    width: 25vw;
}

.sub-title{
    position: relative;
    top: -7px;
    font-size: 0.7em;
}

.sub-title p{
    color: rgb(67, 134, 134);
    text-align: center;
    background-color: rgb(248, 248, 228);
    padding: 10px 0;
    
}

.sub-title span{
    font-weight: 900;
    color: rgb(34, 107, 107);
}

/*main*/

main{
    display: flex;
    width: 100%;
}

.sidebar-left, 
.sidebar-right{
    width: 9%;
    height: 100%;
}

.main{
    width: 82%;
    margin: 15px;
}
.main h1{
    text-align: center;
    color: rgb(66, 66, 66);
    margin-top: 5vh;
    font-size: 1.5em;
}

.main p{
    font-size: 0.642em;
    text-align: center;
}

.p-subtitle span{
    margin-left: -8.5em;
}

.flex {
    display: flex;
    justify-content: center;
}

.image img{
    width: 460px;
    border-radius: 10px;
}

.blockquote p{
    font-size: 1.1em;
    margin: 0;
    color: grey;
}

.box-p{
    box-shadow: -6px 0px 0px  rgba(224, 224, 76, 0.712);
    position: relative;
    left: 20px;
    left: -86px;
}

.box-p p{
    font-size: 1.01em;
    color: rgba(204, 66, 2, 0.89);
    font-weight: 600;
    display: inline-block;
    
}

.box-p p a{
    color: rgb(38, 139, 146);
    font-size: 0.83em;
}

.box-p span{
    margin-left: -164px;
}

.position{
    position: relative;
    left:  -185px;;
}

.h3{
    font-size: 1.2em;
    color: rgb(54, 54, 54);
    
}

.h3 h3{
    margin-bottom: 3px;
    
}


.line{ 
    width: 480px;
    border-bottom: 1px solid rgb(48, 219, 211);
}

#method{
    position: relative;
    left: -17px;
}

.ul .ul1{
    position: relative;
    left: -73px;
}

.ul .ul1 li{
    padding-bottom:  10px;
    margin-left: 40px;
}

.ul .ul1 h5{
    font-size: 1em;
    font-weight: 900;
}

.ul .ul2{
    position: relative;
    left: -80px;
}

.ol{
    position: relative;
    left: -140px;
    margin-bottom: 0;
    
}

.ol h5{
    font-size: 1em;
    font-weight: 900;
    
}

.p-flex{
    width: 480px;
}

.p-flex p{
    font-size: 1em;
    text-align: left;
    margin: 0;
    position: relative;
    left: 36px;
}

footer p{
    position: relative;
    left: -139px;
}

footer p a{
    color: rgb(38, 139, 146);
}


.flex2{
    flex-direction: column;
    align-items: center;
}

#flex{
    display: flex;
    justify-content: center;
}

#position{
    position: relative;
    left: -31px;
}

#position h5{
    font-size: 1em;
    font-weight: 900;
    position: relative;
    left: -40px;
}

#position li{
    padding-bottom:  10px;
}





